/* Responsive For mobile   */
@media screen and (max-width:576px) {

  #fitness-title {
    margin-top: 50px;
  }

  * {
    /* border: 1px dashed coral; */
    overflow-x: hidden;
  }

  body {
    /* border: 2px solid green; */

  }

  .navbar {
    margin: 0;
    padding: 0;
    /* width: 50%; */
  }

  #nav {
    width: 341px;
    /* padding-right: 100px; */
  }

  .nav-links {
    visibility: hidden;
    /* width: 0%; */

  }

  .nav-links li a {
    width: 0px;
  }

  #about {
    width: 0px;
    visibility: hidden
  }

  .header-section {
    width: 100%;
  }

  .body {
    /* width: 100%; */
    /* margin-left: 30px; */
    padding: 20px;
  }

  #five {
    margin-left: -40px;
    /* overflow-x: hidden; */
  }


  #ball {
    /* position: relative; */
    margin-left: -10px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
    z-index: 2;
  }

  #plays {
    /* z-index:200; */
    left: 25px;
    /* color: green; */
    top: 430px;
  }

  #bars {
    color: white;
    top: -45px;
    font-size: 2rem;
    position: relative;
    right: -300px;
    visibility: visible;
    overflow: hidden;
    /* margin-right: 100px; */
  }

  .header-section {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
  }

  .jhon {
    margin-top: 100px;
  }

  #five {
    /* margin-right: -400px; */
    /* position: relative; */
    right: 40px;
  }

  #three {
    left: 5px;
  }

  #ball {
    left: 20px;
  }

  #header-containt {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  /* Change your habbit Start */
  #change-habbit {
    width: 100%;
    height: auto;
  }

  #change {
    padding: 10px;
  }

  #change h1 {
    font-size: 50px;
  }

  .workout-style {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 10px;
  }

  .workout-style>div {
    /* width: 100%; */
    /* margin: 0 auto; */
  }

  .workout-style img {
    width: 100%;
    height: auto;
  }

  /* Change habbits ends */



  .extra-run {
    width: 100%;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

  }




  .extra-descrip {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;

  }

  .extra-descrip h1 {
    font-size: 30px;
    /* text-align: center; */
    /* margin-left: 10px; */


  }

  .chart {
    flex-direction: column;
  }

  /* Traning and exercise */

  .zeme-style {
    grid-template-columns: 1fr;

  }

  .zeme-style div {
    /* width: 100%; */
    margin-left: 15px;
    margin-right: 15px;
  }

  #rakib {
    margin-top: 20px;
  }

  .traning h1,
  p {
    font-size: 39px;
    margin-left: 14px;
  }

  /* My Unique Section Style Start here  */




  #all {
    margin-left: 0px;
  }

  #un-sec {
    width: 100%;
    height: auto;
    /* background-color: white; */
  }




  #many {
    margin-left: 44px;
    font-size: 35px;
    color: antiquewhite;
  }

  #package {
    margin-left: 50px;
  }

  .progress {
    width: 100%;

  }

  /* My Unique Section Style Ends here  */

  /* This is BMI */
  .chart-bmi {
    margin-left: 20px;
  }

  .calculate {
    margin-left: 20px;
  }

  /* This is meeet traning section */
  .meet-traning {
    grid-template-columns: 1fr;


  }

  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6 {
    height: 580px;
    /* padding: 20px; */
    margin-left: 20px;
    margin-right: 20px;
    /* width: 100%; */
  }

  .div4 img {
    width: 100%;
  }

  /* #positn{
    padding: 20px;
  } */


  /* This is footer section  */
  .footer-section {
    width: 100%;
    flex-direction: column;
  }

  #start {
    margin-top: 40px;
    width: 50%;
    margin-left: 20px;
  }

  #get {
    margin-top: 40px;
    width: 50%;
    margin-left: 20px;
  }

  #fitness {
    width: 50%;
    margin-left: 20px;
  }
}