@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}



/* Share Style */


body {
  background: black;
  /* border: 2px solid green; */

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* border: 2px dashed coral; */
}


.color-gray {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
}

.color-light {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
}

.color-white {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.display-flex {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
}

.primary-btn1 {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  width: 225px;
  height: 55px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}

.primary-btn2 {
  border-radius: 42px;
  /* background: rgb(230, 83, 60); */
  width: 225px;
  height: 55px;
  color: white;
  background-color: black;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 600;
  border: 1px solid white;
  outline: none;
}

/* Header Style */
.header-section {
  box-sizing: border-box;
  /* width: 100%; */
  max-width: 1200px;
  margin: 0 auto;
  /* background-color: black; */
  /* height: 860px; */
  /* border: 2px solid red; */
  /* background-color: rgb(28, 27, 27); */
}

.navbar {
  justify-content: space-around;
  align-items: center;
}

#fitness-title {
  margin-top: 30px;
  color: rgb(230, 83, 60);
  font-style: italic;
  margin-left: 10px;
  font-size: 36px;
  font-weight: 800;
}

.nav-links {
  /* border: 2px solid salmon; */
  width: auto;
  height: 60px;
  list-style: none;
  gap: 50px;
  margin-top: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  align-items: center;

}

#bars {
  visibility: hidden;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

#home {
  padding: 5px 10px;
  border-radius: 11px;
  color: white;
  background-color: rgb(230, 83, 60);
  width: 175px;
  height: 60px;
  border: 1px solid red;
}

.body {
  width: 100%;
  height: auto;
  margin: 70px auto;
}

.body-title {
  font-size: 78px;
  font-weight: 900;
  color: white;
}

#five {
  position: relative;
  top: 160px;
  left: 200px;
  width: 180px;
  height: 100px;
  color: white;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

#five h1 {
  margin-top: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;

}

#five p {
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
}

#three {

  position: relative;
  top: 355px;
  left: -85px;
  width: 200px;
  height: 120px;
  color: white;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  z-index: 2;
}

#three h1 {
  color: rgb(250, 250, 249);
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
  margin-top: 30px;

}

#three p {
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  font-family: Inter;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;

}

#plays {
  color: white;
  position: relative;
  top: 430px;
  z-index: 200;
  left: -65px;
}

#ball {
  position: relative;
  left: -81px;
  top: 280PX;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(230, 83, 60);
  z-index: 2;
}

.jhon {
  margin: 0 auto;
  width: 400px;
  height: 650px;
  background-image: url(../images/Images\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Change your habbit */


#change-habbit {
  max-width: 1200px;
  margin: 0 auto;
  height: 660px
}

#change {
  text-align: center;
  margin-bottom: 35px;

}

#change h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

#change p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}

.workout-style {
  justify-content: center;
  gap: 10px;
}

.workout-style>div {
  margin-right: 10px;
  /* flex: 1; */
  width: 300px;
  text-align: center;

}

.workout-style>div img {
  border-radius: 50%;
}

/* Run Extra style start here */
.extra-run {
  border-radius: 18px;

  background: rgb(34, 34, 34);
  box-sizing: border-box;

  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: space-between;
  padding: 20px;

}

.extra-descrip {
  margin-right: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.extra-descrip h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
}

.extra-descrip p {
  text-align: center;
}

#dode>img {
  width: 450px;
  height: 340px;
  border-radius: 16px;
}


/* .reason2 {
  flex-direction: row-reverse;
} */

/* traning and exercise style */
#traning-style {
  max-width: 1200px;
  margin: 0 auto;

}

.traning {
  text-align: center;

}

/* */
#img2 {
  /* transform: scaleX(1.4); */
  filter: sepia(1) saturate(10) hue-rotate(90deg);
  background-color: rgba(255, 0, 0, 0.3);
  opacity: 0.5;
  /* mix-blend-mode: color; */
  /* pointer-events: none; */

}


#img2 {
  /* transform: scaleX(1.4); */
  filter: sepia(1) saturate(10) hue-rotate(90deg);
  background-color: rgba(0, 71, 255, 0.3);
  opacity: 0.5;
  /* mix-blend-mode: color; */
  /* pointer-events: none; */

}

#img5 {
  /* transform: scaleX(1.2); */
  filter: sepia(1) saturate(10) hue-rotate(90deg);
  background-color: rgba(66, 255, 0, 0.3);
  opacity: 0.5;
  /* mix-blend-mode: color; */
  /* pointer-events: none; */

}

.traning h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.traning p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 10px;
}

.zeme-style {


  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* justify-content: space-between; */
}

.zeme-style img {
  width: 100%;
}



#img2 img {
  width: 500px;
}

/* My unique section Start here  */
#un-sec {
  width: 1200px;
  height: auto;
  margin: 0 auto;

}


#all {
  font-size: 50px;
  text-align: center;
  color: red;
}

#info {
  text-align: center;
}

#many {
  margin-left: 250px;
  margin-bottom: 20px;
}

#package {
  margin-left: 280px;

  font-size: 30px;
}

#package ul li {
  color: red;
  list-style-type: decimal;
}

.progress {
  width: 700px;
  height: auto;
  margin: 0 auto;
}

.progress h1 {
  color: red;
  text-align: center;
  font-size: 34px;
}

#skill-container {
  background-color: gray;
  height: auto;
  max-width: 750px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 15px;
}

#skill-container li {
  list-style: none;
  font-weight: bolder;
  font-size: 1.4rem;
  position: relative;
  height: 100px;
  color: white;

}

#skill-container li::before {
  content: '';
  width: 100%;
  height: 40px;
  background-color: aliceblue;
  position: absolute;
  top: 35px;
  border-radius: 30px;



}

#skill-container li::after {
  content: '';
  width: 100%;
  height: 40px;
  /* background-color: red; */
  position: absolute;
  left: 0px;
  top: 35px;
  border-radius: 30px;


  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 1;
  animation-fill-mode: forwards;
}

#skill-container li#first::after {
  animation-name: first;
}

#skill-container li#second::after {
  animation-name: second;
}

#skill-container li#third::after {
  animation-name: third;
}

#skill-container li#four::after {
  animation-name: four;
}

#skill-container li#fifth::after {
  animation-name: fifth;
}

#skill-container li#six::after {
  animation-name: six;
}

@keyframes first {
  to {
    width: 0px;
    background: rgb(225, 178, 7);
  }
}

@keyframes second {
  to {
    width: 25%;
    background: rgb(69, 225, 7);
  }
}

@keyframes third {
  to {
    width: 35%;
    background: pink;
  }
}

@keyframes four {
  to {
    width: 45%;
    background: rgba(255, 127, 80, 0.357);
  }
}

@keyframes fifth {
  to {
    width: 65%;
    background: orange;
  }
}

@keyframes six {
  to {
    width: 85%;
    background: pink;
  }
}

/* My unique Section Ends here */

/* BMI Calculator Style */
.chart-bmi h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.calculate h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 28px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

.calculate p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}

#bmi-calc {
  max-width: 1200px;
  margin: 0 auto;
  background: rgb(34, 34, 34);

}

#bmi {
  margin-bottom: 35px;
}

#bmi h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

#bmi p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}

table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 6px 35px;
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

table,
th,
tr {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}


.chart {
  justify-content: space-around;
}

#input {
  margin-top: 10px;
  width: 200px;
  height: 40px;
  border-radius: 8px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  outline: none;
  border: none;
}

#select {
  border: none;
  outline: none;
  margin-top: 10px;
  width: 406px;
  height: 34px;
  border-radius: 8px;
  padding-left: 10px;

  background: rgba(255, 255, 255, 0.1);
}

/* Meet our Teame */
#meet-section {
  border-radius: 18px;

  background: rgba(255, 255, 255, 0.1);
  max-width: 1200px;
  /* border: 2px solid red; */
  margin: 0 auto;
  /* border: 2px solid coral; */
}

.meet-traning {

  gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#meet h1 {
  color: rgb(255, 255, 255);

  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

#meet p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}

.div1 {
  background-image: url(../images/trainer1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  border-radius: 18px;

}

.div2 {
  background-image: url(../images/trainer2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 18px;

}

.div3 {
  background-image: url(../images/trainer3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 18px;


}

.div4 {
  background-image: url(../images/trainer4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 480px;

  border-radius: 18px;
}


.div5 {
  background-image: url(../images/trainer5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 18px;

}

.div6 {
  background-image: url(../images/trainer6.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 18px;

}

#positn {
  position: relative;
  top: 240px;
  left: 70px;
  width: 100px;
}

#positn h1,
h4 {
  color: red;
}

/* Footer Section Start Here */
#footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  justify-content: space-around;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
}

#fitness h1 {
  color: rgb(230, 83, 60);
  font-size: 70px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

#fitness p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}

#get {
  margin-top: 40px;
  width: 33%;
}

#get h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

#fitness {
  margin-top: 40px;
  width: 33%;
}

#start {
  margin-top: 40px;
  width: 33%;
}

#start h1 {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

#ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

#list li a {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}

#copy-footer {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: left;
}